:root {
  --background: #e4ede3;
  --primaryColor: #004d61;
  --primaryTextColor: #fff;
  --secondaryColor: #ff5031;
  --thirdColor: #f8f8f8;
  --fourthColor: #dee9ea;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}